body {
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f4f7f7;
}

.container-root {
    display: flex;
    flex-grow: 1;
}
